<div th:fragment="ArrestIncidentPREAtab" th:remove="tag">
	<div class="row">
		<div class="col-lg-12">
			<h6 class="headerBlock text-center m-0" style="font-weight: 800;">PREA CHECKLIST</h6>
			<div class="panel panelContentBlock p-1 mb-1">
				 <div class="row">
					 <div class="col-12 col-lg-6 d-flex align-items-center">	
						 <div id="table-container" class="w-100">
							<div class="tableFixHead" style="max-height: 245px;">
							 	<table id="" class="table table-striped table-bordered table-sm" style="margin-bottom:0">
									<thead>
										<tr>
											<th>Completed</th>
											<th class="w-100">Description</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="custom-control custom-checkbox custom-control-inline">
													<input type="checkbox" class="custom-control-input" id="CompletedCheck1" checked="">
													<label class="custom-control-label text-nowrap" for="CompletedCheck1" style="font-weight: 500;"></label>
												</div>
											</td>
											<td class="w-100">
												<input type="text" class="form-control" placeholder="" aria-label="" value="Inmate Segregrated?" disabled>
											</td>
											<td>
												<input type="text" class="form-control" placeholder="" aria-label="" value="05/29/2024" style="width: 100px;">
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox custom-control-inline">
													<input type="checkbox" class="custom-control-input" id="CompletedCheck2" checked="">
													<label class="custom-control-label text-nowrap" for="CompletedCheck2" style="font-weight: 500;"></label>
												</div>
											</td>
											<td class="w-100">
												<input type="text" class="form-control" placeholder="" aria-label="" value="Inmate Sent to Hospital?" disabled>
											</td>
											<td>
												<input type="text" class="form-control" placeholder="" aria-label="" value="05/29/2024" style="width: 100px;">
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox custom-control-inline">
													<input type="checkbox" class="custom-control-input" id="CompletedCheck2" checked="">
													<label class="custom-control-label text-nowrap" for="CompletedCheck2" style="font-weight: 500;"></label>
												</div>
											</td>
											<td class="w-100">
												<input type="text" class="form-control" placeholder="" aria-label="" value="Inmate Sent to Onsite Medical Unit?" disabled>
											</td>
											<td>
												<input type="text" class="form-control" placeholder="" aria-label="" value="05/29/2024" style="width: 100px;">
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox custom-control-inline">
													<input type="checkbox" class="custom-control-input" id="CompletedCheck2" checked="">
													<label class="custom-control-label text-nowrap" for="CompletedCheck2" style="font-weight: 500;"></label>
												</div>
											</td>
											<td class="w-100">
												<input type="text" class="form-control" placeholder="" aria-label="" value="I.I. Notified?" disabled>
											</td>
											<td>
												<input type="text" class="form-control" placeholder="" aria-label="" value="05/29/2024" style="width: 100px;">
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox custom-control-inline">
													<input type="checkbox" class="custom-control-input" id="CompletedCheck2" checked="">
													<label class="custom-control-label text-nowrap" for="CompletedCheck2" style="font-weight: 500;"></label>
												</div>
											</td>
											<td class="w-100">
												<input type="text" class="form-control" placeholder="" aria-label="" value="Major Notified?" disabled>
											</td>
											<td>
												<input type="text" class="form-control" placeholder="" aria-label="" value="05/29/2024" style="width: 100px;">
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox custom-control-inline">
													<input type="checkbox" class="custom-control-input" id="CompletedCheck2" checked="">
													<label class="custom-control-label text-nowrap" for="CompletedCheck2" style="font-weight: 500;"></label>
												</div>
											</td>
											<td class="w-100">
												<input type="text" class="form-control" placeholder="" aria-label="" value="Staff Lt. Notified?" disabled>
											</td>
											<td>
												<input type="text" class="form-control" placeholder="" aria-label="" value="05/29/2024" style="width: 100px;">
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox custom-control-inline">
													<input type="checkbox" class="custom-control-input" id="CompletedCheck2" checked="">
													<label class="custom-control-label text-nowrap" for="CompletedCheck2" style="font-weight: 500;"></label>
												</div>
											</td>
											<td class="w-100">
												<input type="text" class="form-control" placeholder="" aria-label="" value="Investigator Notified?" disabled>
											</td>
											<td>
												<input type="text" class="form-control" placeholder="" aria-label="" value="05/29/2024" style="width: 100px;">
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox custom-control-inline">
													<input type="checkbox" class="custom-control-input" id="CompletedCheck2" checked="">
													<label class="custom-control-label text-nowrap" for="CompletedCheck2" style="font-weight: 500;"></label>
												</div>
											</td>
											<td class="w-100">
												<input type="text" class="form-control" placeholder="" aria-label="" value="Facility's PREA Coordinator Notified?" disabled>
											</td>
											<td>
												<input type="text" class="form-control" placeholder="" aria-label="" value="05/29/2024" style="width: 100px;">
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox custom-control-inline">
													<input type="checkbox" class="custom-control-input" id="CompletedCheck2" checked="">
													<label class="custom-control-label text-nowrap" for="CompletedCheck2" style="font-weight: 500;"></label>
												</div>
											</td>
											<td class="w-100">
												<input type="text" class="form-control" placeholder="" aria-label="" value="On-Call Admin Notified?" disabled>
											</td>
											<td>
												<input type="text" class="form-control" placeholder="" aria-label="" value="05/29/2024" style="width: 100px;">
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox custom-control-inline">
													<input type="checkbox" class="custom-control-input" id="CompletedCheck2" checked="">
													<label class="custom-control-label text-nowrap" for="CompletedCheck2" style="font-weight: 500;"></label>
												</div>
											</td>
											<td class="w-100">
												<input type="text" class="form-control" placeholder="" aria-label="" value="Warden Notified?" disabled>
											</td>
											<td>
												<input type="text" class="form-control" placeholder="" aria-label="" value="05/29/2024" style="width: 100px;">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					 </div>
					  <div class="col-12 col-lg-6 pl-0">	
						 <div class="d-flex align-items-center w-100">
							 <label for="Security" class="form-label text-nowrap mr-2 mb-0">Completed By</label>
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="Patterson">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="Matt">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="W"  style="width: 50px;">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="" style="width: 90px;">
							 <a href="#"  id="" class="btn btn-primary btn-sm p-1 ml-1 btn js-waves-off d-flex align-items-center" data-class="nav-function-hidden">
								<i class="fa fa-users" aria-hidden="true"></i>
							 </a>
						 </div>
						 <div class="mt-1">
							<textarea class="form-control" id="addComments" rows="11" name="Comments" placeholder="Comments" style="resize:none;" value=""></textarea>
						</div>
					 </div>
				 </div>
			</div>
		</div>
	</div>
</div>