<div th:fragment="ArrestIncidentPropertyRecieptstab" th:remove="tag">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panelContentBlock p-1 mb-1">
				 <div class="row">
					 <div class="col-12 col-lg-4 d-flex align-items-center justify-content-between pr-0">
						<div class="custom-control custom-checkbox custom-control-inline align-items-center">
                            <input type="checkbox" class="custom-control-input" id="Comprehend" aria-label="Comprehend" name="Comprehend" value="">
                            <label class="custom-control-label text-nowrap" for="citdefaultInline1" style="font-weight: 500;">Evidence</label>
                         </div>
                         <div class="custom-control custom-checkbox custom-control-inline align-items-center">
                            <input type="checkbox" class="custom-control-input" id="Comprehend" aria-label="Comprehend" name="Comprehend" value="">
                            <label class="custom-control-label text-nowrap" for="citdefaultInline1" style="font-weight: 500;">Safekeeping</label>
                         </div>
                         <div class="custom-control custom-checkbox custom-control-inline align-items-center">
                            <input type="checkbox" class="custom-control-input" id="Comprehend" aria-label="Comprehend" name="Comprehend" value="">
                            <label class="custom-control-label text-nowrap" for="citdefaultInline1" style="font-weight: 500;">Investigation</label>
                         </div>
                         <div class="custom-control custom-checkbox custom-control-inline align-items-center">
                            <input type="checkbox" class="custom-control-input" id="Comprehend" aria-label="Comprehend" name="Comprehend" value="">
                            <label class="custom-control-label text-nowrap" for="citdefaultInline1" style="font-weight: 500;">Other</label>
                         </div>
					 </div>
					 <div class="col-12 col-lg-8 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Other Description</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="">
					 </div>
					 <div class="col-12 col-lg-9 pr-0 d-flex align-items-center mt-1">
						<div class="d-flex align-items-center w-100">
							 <label for="Security" class="form-label text-nowrap mr-2 mb-0">Case Assigned Officer(F/L/M/S)</label>
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="Patterson">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="Matt">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="W"  style="width: 50px;">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="" style="width: 90px;">
							 <a href="#"  id="" class="btn btn-primary btn-sm p-1 ml-1 btn js-waves-off d-flex align-items-center" data-class="nav-function-hidden">
								<i class="fa fa-users" aria-hidden="true"></i>
							 </a>
						 </div>
					 </div>
					 <div class="col-12 col-lg-3 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Arrest Incident#</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
					 </div>
					 <div class="col-12 col-lg-9 pr-0 d-flex align-items-center mt-1">
						<div class="d-flex align-items-center w-100">
							 <label for="Security" class="form-label text-nowrap mr-2 mb-0">SBI#</label>
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="" style="width: 100px;">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="" disabled>
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="" disabled>
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="" disabled  style="width: 50px;">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="" disabled style="width: 90px;">
						 </div>
					 </div>
					 <div class="col-12 col-lg-3 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Case#</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="">
						<a href="#"  id="" class="btn btn-primary btn-sm p-1 ml-1 btn js-waves-off d-flex align-items-center" data-class="nav-function-hidden">
							<i class="fa fa-download" aria-hidden="true"></i>
						 </a>
					 </div>
					 <div class="col-12 col-lg-4 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Race</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
					 </div>
					 <div class="col-12 col-lg-2 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">DOB</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
					 </div>
					 <div class="col-12 col-lg-2 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Date</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="">
					 </div>
					 <div class="col-12 col-lg-1 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Time</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="">
					 </div>
					 <div class="col-12 col-lg-3 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">CRA#</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="">
						<a href="#"  id="" class="btn btn-primary btn-sm p-1 ml-1 btn js-waves-off d-flex align-items-center" data-class="nav-function-hidden">
							<i class="fa fa-download" aria-hidden="true"></i>
						 </a>
					 </div>
					  <div class="col-12 col-lg-6 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Address</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
					 </div>
					 <div class="col-12 col-lg-2 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">City</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
					 </div>
					 <div class="col-12 col-lg-1 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">State</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
					 </div>
					 <div class="col-12 col-lg-3 d-flex align-items-center mt-1">
						<div class="d-flex align-items-center w-100">
							<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Zip</label>
							<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
							<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
						</div>
					 </div>
					 <div class="col-12 col-lg-6 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Location Seized</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="">
					 </div>
					 <div class="col-12 col-lg-6 d-flex align-items-center mt-1">
						<div class="d-flex align-items-center w-100">
							 <label for="Security" class="form-label text-nowrap mr-2 mb-0">Owner SBI#</label>
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="" style="width: 100px;">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value=""  style="width: 50px;">
							 <input type="text" class="form-control" aria-label="Security" placeholder="" name="Group" id="Group" value="" style="width: 90px;">
						 </div>
					 </div>
					 <div class="col-12 col-lg-3 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Race</label>
						<select class="custom-select form-control">
					        <option value="1"> </option>
					        <option value="2">Two</option>
					        <option value="3">Three</option>
					    </select>
					 </div>
					 <div class="col-12 col-lg-3 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">DOB</label>
						<input type="text" class="form-control text-nowrap" aria-label="stay" name="stay" id="stay" value="" style="width: 130px;">
						<div class="d-flex align-items-center ml-2 w-100">
							<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Sex</label>
							<select class="custom-select form-control">
						        <option value="1"> </option>
						        <option value="2">Two</option>
						        <option value="3">Three</option> 
						    </select>
						 </div>
					 </div>
					 <div class="col-12 col-lg-6 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Owner Address</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="">
					 </div>
					 <div class="col-12 col-lg-4 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">City</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
					 </div>
					 <div class="col-12 col-lg-1 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">State</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
					 </div>
					 <div class="col-12 col-lg-3 pr-0 d-flex align-items-center mt-1">
						<div class="d-flex align-items-center w-100">
							<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Zip</label>
							<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
							<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="" disabled>
						</div>
					 </div>
					 <div class="col-12 col-lg-2 pr-0 d-flex align-items-center mt-1">
						<label for="Security" class="form-label mr-2 mb-0 text-nowrap">Phone</label>
						<input type="text" class="form-control text-nowrap w-100" aria-label="stay" name="stay" id="stay" value="">
					 </div>
					 <div class="col-12 col-lg-2 d-flex align-items-center mt-1">
						<button class="btn btn-primary btn-sm mr-2">Next</button>
						<button class="btn btn-primary btn-sm mr-2">Previous</button>
					 </div>
				 </div>
			</div>
		</div>
	</div>
</div>