<div th:fragment="BailRecommendationCommentsTab" th:remove="tag">
	<div class="row"> 
		<div class="col-lg-12">
			 <div class="m-1">
				<label for="weight" class="form-label mb-0 mr-2 text-nowrap">Pending Charges</label>	
				<textarea class="form-control" placeholder="" id="addComments" rows="4" name="Comments" aria-label="Comments" style="resize:none;" disabled value=""></textarea>
			</div>
			<div class="m-1">
				<label for="weight" class="form-label mb-0 mr-2 text-nowrap">Prior Convictions</label>	
				<textarea class="form-control" placeholder="" id="addComments" rows="4" name="Comments" aria-label="Comments" style="resize:none;" disabled value=""></textarea>
			</div>
			<div class="m-1">
				<label for="weight" class="form-label mb-0 mr-2 text-nowrap">Additional Comments</label>	
				<textarea class="form-control" placeholder="" id="addComments" rows="4" name="Comments" aria-label="Comments" style="resize:none;" disabled value=""></textarea>
			</div>
			<div class="m-1">
				<label for="weight" class="form-label mb-0 mr-2 text-nowrap">Recommendations Comments</label>	
				<textarea class="form-control" placeholder="" id="addComments" rows="4" name="Comments" aria-label="Comments" style="resize:none;" disabled value=""></textarea>
			</div>
		</div>
	</div>
</div>