<div th:fragment="BailRecommendationCodefendantTab" th:remove="tag">
	<div class="row"> 
		<div class="col-lg-12">
			<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">
				<div class="d-flex align-items-center">
					<span class="w-100 text-center">CODEFENDANTS INFORMATION</span>
					<span class="d-flex">								
                        <button type="button" class="btn-sm" id="" >No Contact</button>
					</span>
				</div>
			</h6>
			<div class="panel panelContentBlock p-1 mb-1">
				<div id="table-container">
					<div class="tableFixHead" style="max-height: 350px;">
						  <table id="" class="table table-striped table-bordered table-sm mb-0">
						    <thead>
							    <tr>
									<th style="width: 150px;">SBI#</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th style="width: 100px;">MI</th>
									<th style="width: 150px;">Suffix</th>
									<th style="width: 200px;">DOB</th>
								</tr>
						    </thead>
						   <tbody>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
								<tr class="disabletd">
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 100px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 150px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
									<td style="width: 200px;">
										<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>