<div th:fragment="DACSNotificationsActionTab" th:remove="tag">
	<div class="row">
		<div class="col-lg-5 pr-0">
			<div id="table-container">
				<div class="tableFixHead" style="max-height: 450px;border: 1px solid #7a59ad;">
					<table id="" class="table table-striped table-bordered table-sm mb-0">
						<thead>
							<tr>
								<th>Category</th>
								<th style="width: 100px;">Count</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="Approval needed for Good Time Attendance Correction Sheet">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="24">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="Offender Attendance Hours Correction Complete">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="34">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="Offender Attendance Hours Correction Disapproved">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="8">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="Administrative Commitment">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="5">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr><tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
							<tr class="disabletd">
								<td>
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">NOTIFICATION COUNT</h6>
			<div class="d-flex align-items-center my-1">
				<div class="d-flex align-items-center mr-2">
					<label for="weight" class="form-label mb-0 mr-2 text-nowrap">Total Categories:</label>																					
					<input type="text" class="form-control w-100" aria-label="weight" name="weight" id="weight" value="127">
				</div>
				<div class="d-flex align-items-center mr-2">
					<label for="weight" class="form-label mb-0 mr-2 text-nowrap">Total Notifications:</label>																					
					<input type="text" class="form-control w-100" aria-label="weight" name="weight" id="weight" value="28790">
				</div>
				<button type="button" class="btn btn-primary btn-sm" id="">REFRESH</button>
			</div>
		</div>
		<div class="col-lg-7">
			<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">DETAILS</h6>
			<div id="table-container">
				<div class="tableFixHead" style="max-height: 300px;border: 1px solid #7a59ad;">
					<table id="" class="table table-striped table-bordered table-sm mb-0">
						<thead>
							<tr>
								<th style="width: 100px;">Date</th>
								<th style="width: 100px;">SBI#</th>
								<th>Offender Name (F, L, M, S)</th>
								<th>Sent By (F, L, M, S)</th>
								<th style="width: 100px;">Days#</th>
								<th style="width: 50px;">Remove</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 100px;">
									<input type="text" class="form-control" aria-label="fname" name="fname" id="fname" value="">
								</td>
								<td class="disabletd" style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="ServiceRequestedCheck">
										<label class="custom-control-label text-nowrap" for="ServiceRequestedCheck"></label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="my-1">
				<div>
					<label for="weight" class="form-label mb-0 mr-2 text-nowrap">Message Text</label>																				
					<textarea class="form-control" placeholder="" id="addComments" rows="6" name="Comments" aria-label="Comments" style="resize:none;" disabled value=""></textarea>
				</div>
				<div class="d-flex align-items-center mt-2">
					<button type="button" class="btn btn-primary btn-sm mr-2" id="">Select All</button>
					<button type="button" class="btn btn-primary btn-sm" id="">De-Select All</button>
				</div>
			</div>
		</div>
	</div>
</div>