<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!--Just a line-->
	<title>
		Omnet
	</title>
	<meta name="description" content="Login">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
	<!-- Call App Mode on ios devices -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Remove Tap Highlight on Windows Phone IE -->
	<meta name="msapplication-tap-highlight" content="no">
	<!-- base css -->
	<link rel="stylesheet" media="screen, print" href="css/vendors.bundle.css">
	<link rel="stylesheet" media="screen, print" href="css/app.bundle.css">
	<!-- Place favicon.ico in the root directory -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<!-- 	Optional: page related CSS -->
	<link rel="stylesheet" media="screen, print" href="css/page-login.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<style>
	.page-logo-text {
		font-weight: 400;
		font-size: 22px;
		text-align: center;
	}
	html body .blankpage-form-field {
    width: 450px;
    }
    .form-control input[type="password"]{
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}
.fa-eye{
  position: absolute;
  top: 28%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}
    
    
  .passwordEyeIcon .fa-eye{
	top: 12px;
    right: 12px;
}
  .passwordEyeIcon {
        position: relative;
    }

    .passwordEyeIcon .fa-eye {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
        color: lightgray;
    }
</style>

<body>

	<div class="blankpage-form-field">
		<div
			class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
			<a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
				<img src="img/DACS.png" alt="DACS Logo" aria-roledescription="logo" style="height:68px; width:68px;">
				<span class="page-logo-text mr-1"><b>Delaware Department of Correction</b></span>
			</a>
		</div>
		<div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
		<div class="" style="text-align: center; margin-top: -20px; margin-bottom: 10px;">
        <img src="img/Omnet logo.png" alt="DACS Logo" aria-roledescrption="logo">
		</div>
			<form action="OmnetDesktop">
				<div class="form-group">
					 <div id="errorNAME" style="display:none; color: red;"></div> 
					<div id="responseMessage" style="color:#886ab5;"></div>
				    
					<label class="form-label"  for="user-name" id="usernameDisplay" >Username</label>
					
					

					<label type="text"  id="user-name" name="username" class="form-control" placeholder="Username" value="" ></label>
				
				</div>
					<span id="user-name"></span>
				<div class="form-group position-relative">
					<label class="form-label" for="password">OTP</label>
					<input type="text" id="otpInput" class="form-control" placeholder="Please Enter OTP" value="">
					<!-- <button  id=" " class="float-right border-0 position-absolute btn btn-primary" style="top: 25px;right: 0px;">Send OTP</button> -->
					<span class="help-block">
						Check Your Register Email-Id for OTP
						<button  id="Generate" class="float-right border-0 bg-transparent" style="color:#886ab5;">Re-Generate OTP</button>
					</span>
				</div>
				<div class="form-group">
					<label class="form-label" for="password">New Password</label>
					<div class="position-relative passwordEyeIcon">		
					<input type="password" id="newpassword" class="form-control" placeholder="New password" value="">
					<i class="fa-solid fa-eye position-absolute" id="eyeNewPassword"></i>
				</div>
				</div>
				<div class="form-group">
					<label class="form-label" for="newPassword">Confirm New Password</label>
					<div class="position-relative passwordEyeIcon">	
					<input type="password" id="confirmPassword"  class="form-control" placeholder="New password (Confirm)" value="">
					<i class="fa-solid fa-eye position-absolute" id="eyeConfirmPassword"></i>
				</div>
				</div>
				
				<button type="button" id="validateOTPSetPassword"  class="btn btn-default float-right">Submit</button>
			</form>
			
			<div class="blankpage-footer text-center">
			© <span class="hidden-md-down fw-700" id="current-year"></span><img height="30"  alt="www.cntit.com" src="img/CNTIT_logo.png"> All rights reserved.<br>Powered by <a href="https://www.cntinfotech.com/" target="_blank"> CntInfotech</a>.
		</div>
		</div>

	</div>

	<video poster="img/backgrounds/clouds.png" id="bgvid" playsinline autoplay muted loop>
		<source src="media/video/cc.webm" type="video/webm">
		<source src="media/video/cc.mp4" type="video/mp4">
	</video>
	<script src="js/vendors.bundle.js"></script>
	<script src="js/app.bundle.js"></script>
	<!-- Page related scripts -->
<script th:inline="javascript">
$(document).ready(function () {
	/*<![CDATA[*/
	var contextPath = /*[[@{/}]]*/'';
/*]]>*/
	checkBackButtonNavigation();
	 
	 document.getElementById("current-year").innerHTML = new Date().getFullYear();
	 
	 var username = sessionStorage.getItem('username');
     console.log(username);
     $('#user-name').text(username);
     
     $('#confirmPassword,#otpInput').on('keydown', function (event) {
    	    if (event.keyCode === 13) {
    	    	 event.preventDefault();
    	        $('#validateOTPSetPassword').trigger('click'); 
    	    }
    	});
     
     $('#validateOTPSetPassword').on('click', function () {
    	    if ($('#otpInput').val() == '') {
    	    	 $('#errorNAME').html('<span style="color: red;">Please enter OTP</span>');
    	         $('#errorNAME').css('display', 'block');
    	         $('#otpInput').focus();
    	         return;
    	    }
    	    if ($('#newpassword').val() == '') {
    	    	 $('#errorNAME').html('<span style="color: red;">Please enter new password</span>');
    	         $('#errorNAME').css('display', 'block');
    	         $('#newpassword').focus();
    	         return;
    	    }
    	    if ($('#confirmPassword').val() == '') {
    	    	$('#errorNAME').html('<span style="color: red;">Please enter confirm password</span>');
    	        $('#errorNAME').css('display', 'block');
    	        $('#confirmPassword').focus();
    	        return;
    	    }


    	    var userOTP = $('#otpInput').val().toString();
    	    var username = sessionStorage.getItem('username');
    	    var newPassword = $('#newpassword').val();
    	    var confirmPassword = $('#confirmPassword').val();

    	    var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=!]).{8,15}$/;
    	    
    	    if (!passwordRegex.test(newPassword)) {
    	    	$('#errorNAME').html('<span style="color: red;">Password must be in 8 to 15 character</span>');
    	        $('#errorNAME').css('display', 'block');
    	        $('#newpassword').focus();
    	        return;
    	    }
    	    
    	    
    	    $.ajax({
    	        method: "POST",
    	        url: contextPath+"validateOTPAndSetPassword",
    	        data: {
    	            userOTP: userOTP,
    	            username: username,
    	            newPassword: newPassword,
    	            confirmPassword: confirmPassword
    	        },
    	        success: function (response) {
    	            if (response === "New Password have been created ") {
    	                  $("#responseMessage").html("New Password have been created");
    	                window.location.href = contextPath+"";
    	            } else if (response === "Passwords do not match") {
    	                
    	                $("#errorNAME").html("Passwords do not match");
    	            } else if (response === "OTP is Invalid") {
    	               
    	                $("#errorNAME").html("Invalid OTP");
    	            } else if (response === "OTP is Expired") {
    	            
    	                $("#errorNAME").html("OTP is Expired");
    	            } else if (response === "User not found") {
    	           
    	                $("#errorNAME").html("User not found");
    	            } else {
    	               
    	                $("#errorNAME").html(" " + response);
    	            }
    	        },
    	        error: function (error) {
    	            $("#errorNAME").html(" " + error.responseText);
    	        }
    	    });
    	});
     
     $('#Generate').on('click', function (event) {
    		event.preventDefault();
    	    var username = sessionStorage.getItem('username');

    	    $.ajax({
    	        method: "GET",
    	        url: contextPath+"regenerate",
    	        data: { username: username },
    	        success: function (response) {
    	            $('#responseMessage').html('<span style="color:#886ab5;">OTP Regenerated</span>');
    	            $('#responseMessage').css('display', 'block');
    	        },
    	        error: function (error) {
    	            console.error("Error:", error);
    	        }
    	    });
    	});
     
     $('#eyeNewPassword').on('click', function () {
         togglePasswordVisibility('newpassword');
     });
     $('#eyeConfirmPassword').on('click', function () {
         togglePasswordVisibility('confirmPassword');
     });
     function togglePasswordVisibility(inputId) {
         var passwordInput = $('#' + inputId);

         if (passwordInput.attr('type') === 'password') {
             passwordInput.attr('type', 'text');
         } else {
             passwordInput.attr('type', 'password');
         }
     }
     
     function checkBackButtonNavigation() {
         if (performance && performance.navigation && typeof performance.navigation.type === 'number') {
             if (performance.navigation.type === 2) {
                 $.ajax({
                     url: contextPath+'removeOtpValidation',
                     type: 'GET',
                     success: function () {
                         console.log('Session attribute removed');
                         window.location.href = contextPath+"";
                     },
                     error: function () {
                         console.error('Failed to remove session attribute');
                     }
                 });
             }
         }
     }
     
});
</script>
</body>
</html>