<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		Omnet
	</title>
	<meta name="description" content="Login">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
	<!-- Call App Mode on ios devices -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Remove Tap Highlight on Windows Phone IE -->
	<meta name="msapplication-tap-highlight" content="no">
	<!-- base css -->
	<link rel="stylesheet" media="screen, print" href="css/vendors.bundle.css">
	<link rel="stylesheet" media="screen, print" href="css/app.bundle.css">
	<!-- Place favicon.ico in the root directory -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<!-- 	Optional: page related CSS -->
	<link rel="stylesheet" media="screen, print" href="css/page-login.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<style>
	.page-logo-text {
		font-weight: 400;
		font-size: 22px;
		text-align: center;
	}
	html body .blankpage-form-field {
    width: 450px;
    }
    .form-control input[type="password"]{
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}
.fa-eye{
  position: absolute;
  top: 28%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}
    
    
  .passwordEyeIcon .fa-eye{
	top: 12px;
    right: 12px;
}
  .passwordEyeIcon {
        position: relative;
    }

    .passwordEyeIcon .fa-eye {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
        color: lightgray;
    }
    
    body {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari, Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and 11 */   
}
    
</style>

<body>

	<div class="blankpage-form-field">
		<div
			class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
			<a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
				<img src="img/DACS.png" alt="DACS Logo" aria-roledescription="logo" style="height:68px; width:68px;">
				<span class="page-logo-text mr-1"><b>Delaware Department of Correction</b></span>
			</a>
		</div>
		<div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
		<div class="" style="text-align: center; margin-top: -20px; margin-bottom: 10px;">
        <img src="img/Omnet logo.png" alt="DACS Logo" aria-roledescrption="logo">
		</div>
			<form action="OmnetDesktop">
				<div class="form-group">
			    <div id="errorNAME" style="display:none; color:red;"></div> 
             <div id="responseMessage" style="display:none; color:green;"></div> 
				    
					<label class="form-label"  for="user-name" id="usernameDisplay" >Username</label>
					
					

					<label type="text"  id="user-name" name="username" class="form-control" placeholder="Username" value="" ></label>
				
				</div>
					<span id="user-name"></span>
				<div class="form-group position-relative">
					<label class="form-label" for="password">OTP</label>
					<input type="text" id="otpInput" class="form-control" placeholder="Please enter OTP" value="">
					<!-- <button  id=" " class="float-right border-0 position-absolute btn btn-primary" style="top: 25px;right: 0px;">Send OTP</button> -->
					<span class="help-block">
						Check your registered email for OTP
						<button  id="Generate" class="float-right border-0 bg-transparent" style="color:#886ab5;">Re-Generate OTP</button>
					</span>
				</div>
				<div class="form-group">
					<label class="form-label" for="password">New Password</label>
					<div class="position-relative passwordEyeIcon">		
					<input type="password" id="newpassword" class="form-control" placeholder="New password" value="">
					<i class="fa-solid fa-eye position-absolute" id="eyeNewPassword" title="Show"></i>
				</div>
				</div>
				<div class="form-group">
					<label class="form-label" for="newPassword">Confirm Password</label>
					<div class="position-relative passwordEyeIcon">	
					<input type="password" id="confirmPassword"  class="form-control" placeholder="Confirm password" value="">
					<i class="fa-solid fa-eye position-absolute" id="eyeConfirmPassword" title="Show"></i>
				</div>
				</div>
				
				<button type="button" id="validateOTPSetPassword"  class="btn btn-default float-right">Submit</button>
			</form>
			
			<div class="blankpage-footer text-center">
			© <span class="hidden-md-down fw-700" id="current-year"></span><img height="30"  alt="www.cntit.com" src="img/CNTIT_logo.png"> All rights reserved.<br>Powered by <a href="https://www.cntinfotech.com/" target="_blank"> CntInfotech</a>.
		</div>
		</div>

	</div>

	<video poster="img/backgrounds/clouds.png" id="bgvid" playsinline autoplay muted loop>
		<source src="media/video/cc.webm" type="video/webm">
		<source src="media/video/cc.mp4" type="video/mp4">
	</video>
	<script src="js/vendors.bundle.js"></script>
	<script src="js/app.bundle.js"></script>
	<!-- Page related scripts -->
<script th:inline="javascript">
document.addEventListener("DOMContentLoaded", function() {
    const inputs = document.querySelectorAll('input, textarea');
    inputs.forEach(function(input) {
        input.setAttribute('autocomplete', 'off');
    });
});
$(document).ready(function () {
    /*<![CDATA[*/
    var contextPath = /*[[@{/}]]*/'';
    /*]]>*/
    checkBackButtonNavigation();
    var userId = localStorage.getItem('userId');
    console.log(userId);
    $('#user-name').text(userId);

    $('#confirmPassword,#otpInput,#newpassword').on('keydown', function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            $('#validateOTPSetPassword').trigger('click');
        }
    });


 $('#otpInput').on('blur keypress', function (event) {
	    if (event.type === 'blur' || (event.type === 'keypress' && event.which === 13)) {
	        var userOTP = $(this).val().toString();
	        
	        if (userOTP === '') {
	            $('#errorNAME').html('<span style="color: red;">Please enter OTP</span>').show();
	            $('#responseMessage').hide();
	        } else if (userOTP.length < 6) {
	            $('#errorNAME').html('<span style="color: red;">OTP must be 6 digit</span>').show();
	            $('#responseMessage').hide();
	        } else if (userOTP.length > 6) {
	            $('#errorNAME').html('<span style="color: red;">OTP cannot be longer than 6 digits</span>').show();
	            $('#responseMessage').hide();
	        } else if (userOTP.length == 6) {
	            $.ajax({
	                method: "GET",
	                url: contextPath + "LoginApi/checkvalidateotp",
	                data: {
	                    userOTP: userOTP,
	                    userId: userId
	                },
	                success: function (response) {
	                    if (response === "OTP is Expired") {
	                        $('#errorNAME').html('<span style="color: red;">OTP is expired</span>').show();
	                        $('#responseMessage').hide();
	                    } else if (response === "Invalid OTP") {
	                        $('#errorNAME').html('<span style="color: red;">Invalid OTP</span>').show();
	                        $('#responseMessage').hide();
	                    } else if (response === "OTP is Valid") {
	                        $('#responseMessage').html("OTP is valid").show();
	                        $('#errorNAME').hide();
	                    }
	                },
	                error: function (error) {
	                    console.error("Error:", error);
	                    $('#errorNAME').html('<span style="color: red;">Error while validating OTP</span>').show();
	                    $('#responseMessage').hide();
	                }
	            });
	        }
	    }
	});
 $('#validateOTPSetPassword').on('click', function () {
	    $('#errorNAME').hide();
	    $('#responseMessage').hide();

	    var userOTP = $('#otpInput').val();
	    var newPassword = $('#newpassword').val();
	    var confirmPassword = $('#confirmPassword').val();

	    if (userOTP === '') {
	        $('#errorNAME').html('<span style="color: red;">Please enter OTP</span>').show();
	        $('#otpInput').focus();
	        return;
	    }

	    if (newPassword === '') {
	        $('#errorNAME').html('<span style="color: red;">Please enter new password</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (confirmPassword === '') {
	        $('#errorNAME').html('<span style="color: red;">Please enter confirm password</span>').show();
	        $('#confirmPassword').focus();
	        return;
	    }

	    if (newPassword.length < 8) {
	        $('#errorNAME').html('<span style="color: red;">Password must be at least 8 characters</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (newPassword.length > 15) {
	        $('#errorNAME').html('<span style="color: red;">Password must be at most 15 characters</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (!/\d/.test(newPassword)) {
	        $('#errorNAME').html('<span style="color: red;">Password must contain at least one digit</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (!/[a-z]/.test(newPassword)) {
	        $('#errorNAME').html('<span style="color: red;">Password must contain at least one lowercase letter</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (!/[A-Z]/.test(newPassword)) {
	        $('#errorNAME').html('<span style="color: red;">Password must contain at least one uppercase letter</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (!/[@#$%^&+=!*]/.test(newPassword)) {
	        $('#errorNAME').html('<span style="color: red;">Password must contain at least one special character</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    $('#errorNAME').html('');

	    // Validate OTP before proceeding to save the password
	    $.ajax({
	        method: "GET",
	        url: contextPath + "LoginApi/checkvalidateotp",
	        data: {
	            userOTP: userOTP,
	            userId: userId
	        },
	        success: function (response) {
	            if (response === "OTP is Expired") {
	                $('#errorNAME').html('<span style="color: red;">OTP is expired</span>').show();
	                $('#responseMessage').hide();
	            } else if (response === "Invalid OTP") {
	                $('#errorNAME').html('<span style="color: red;">Invalid OTP</span>').show();
	                $('#responseMessage').hide();
	            } else if (response === "OTP is Valid") {
	                $('#responseMessage').hide();
	                $('#errorNAME').hide();
	                // Proceed to save the new password
	                $.ajax({
	                    method: "POST",
	                    url: contextPath + "LoginApi/savePassword",
	                    data: {
	                    	userId: userId,
	                        newPassword: newPassword,
	                        confirmPassword: confirmPassword
	                    },
	                    success: function (response) {
	                        if (response === "Password saved successfully") {
	                            $("#responseMessage").html("New Password have been created").show();
	                            $('#errorNAME').hide();
	                            window.location.href = contextPath + "";
	                        } else if (response === "Passwords do not match") {
	                            $("#errorNAME").html("Passwords do not match").show();
	                            $('#responseMessage').hide();
	                        } else if (response === "User not found") {
	                            $("#errorNAME").html("User not found").show();
	                            $('#responseMessage').hide();
	                        } else {
	                            $("#errorNAME").html(" " + response).show();
	                            $('#responseMessage').hide();
	                        }
	                    },
	                    error: function (error) {
	                        $("#errorNAME").html(" " + error.responseText).show();
	                    }
	                });
	            }
	        },
	        error: function (error) {
	            $('#errorNAME').html('<span style="color: red;">Error while validating OTP</span>').show();
	            $('#responseMessage').hide();
	        } 
	    });
	});

    $('#Generate').on('click', function (event) {
    	$('#otpInput').val('');
        event.preventDefault();
        var userId = localStorage.getItem('userId');
        $.ajax({
            method: "GET",
            url: contextPath + "LoginApi/regenerate",
            data: { userId: userId },
            success: function (response) {
                $('#responseMessage').html('<span style="color:#886ab5;">OTP Regenerated</span>');
                $('#responseMessage').css('display', 'block');
                $('#responseMessage').show();
                $('#errorNAME').hide();
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });
    });


    $('#eyeNewPassword').on('click', function () {
        togglePasswordVisibility('newpassword');
    });
    $('#eyeConfirmPassword').on('click', function () {
        togglePasswordVisibility('confirmPassword');
    });

    function togglePasswordVisibility(inputId) {
        var passwordInput = $('#' + inputId);

        if (passwordInput.attr('type') === 'password') {
            passwordInput.attr('type', 'text');
            $(this).attr('title', 'Hide');
        } else {
            passwordInput.attr('type', 'password');
            $(this).attr('title', 'Show');
        }
    }



    function checkBackButtonNavigation() {
        if (performance && performance.navigation && typeof performance.navigation.type === 'number') {
            if (performance.navigation.type === 2) {
                $.ajax({
                    url: contextPath + 'removeOtpValidation',
                    type: 'GET',
                    success: function () {
                        console.log('Session attribute removed');
                        window.location.href = contextPath + "";
                    },
                    error: function () {
                        console.error('Failed to remove session attribute');
                    }
                });
            }
        }
    }

});
document.getElementById("current-year").innerHTML = new Date().getFullYear();
</script>
</body>
</html>