<div th:fragment="IncidentInfoGeneralInfoTab" th:remove="tag">
	<div class="row">
		<div class="col-lg-12">
			 <div id="table-container" class="mb-2">
				<div class="tableFixHead" style="max-height: 300px;border: 1px solid #7a59ad;">
				 	<table id="" class="table table-striped table-bordered table-sm" style="margin-bottom:0">
						<thead>
							<tr>
								<th style="width: 50px;">Select</th>
								<th> Incident Code</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="SelectCheck">
										<label class="custom-control-label text-nowrap" for="SelectCheck"></label>
									</div>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="">
								</td>
							</tr>
							<tr>
								<td style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="SelectCheck">
										<label class="custom-control-label text-nowrap" for="SelectCheck"></label>
									</div>
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
							</tr>
							<tr>
								<td style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="SelectCheck">
										<label class="custom-control-label text-nowrap" for="SelectCheck"></label>
									</div>
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
							</tr>
							<tr>
								<td style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="SelectCheck">
										<label class="custom-control-label text-nowrap" for="SelectCheck"></label>
									</div>
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
							</tr>
							<tr>
								<td style="width: 50px;">
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input" id="SelectCheck">
										<label class="custom-control-label text-nowrap" for="SelectCheck"></label>
									</div>
								</td>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<textarea class="form-control m-1 rawField" placeholder="Incident Desrption" id="addComments" data-fld = "addComments_fld" data-lbl = "" rows="7" name="Comments" aria-label="Comments" style="resize:none;" value=""></textarea>
		</div>
	</div>
</div>