<div th:fragment="OffenderSummaryFamilyHistorytab" th:remove="tag">
	<div class="row">
		<div class="col-lg-12">
			<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">
				<div class="d-flex align-items-center">
					<span class="w-100 text-center">OFFENDER FAMILY MEMBERS</span>
					<span class="d-flex">								
                        <a href="OffenderSummaryfamilytab" class="btn-success btn btn-sm">Details</a>
					</span>
				</div>
			</h6>
			<div class="row mb-1">
				<div class="col-12 col-lg-12">
					 <div id="table-container" style="border: 1px solid #7a59ad; border-top: 0;" class="mb-1">
						<div class="tableFixHead" style="max-height: 370px;">
							<table id="" class="table table-striped table-bordered table-sm" style="margin-bottom:0;">
								<thead>
									<th style="width: 300px;">Full Name</th>
									<th>Source</th> 
									<th>Relationship</th>
									<th>Raised By</th> 
									<th>Dependent?</th> 
									<th style="width: 120px;">SBI#</th> 
								</thead>
							    <tbody>
									<tr>
										<td style="width: 300px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<div class="custom-control custom-checkbox custom-control-inline ml-1">
												<input type="checkbox" class="custom-control-input" id="RaisedBy">
												<label class="custom-control-label" for="RaisedBy" style="font-weight: 500;"></label>
											</div>
										</td>
										<td>
											<div class="custom-control custom-checkbox custom-control-inline ml-1">
												<input type="checkbox" class="custom-control-input" id="Dependent">
												<label class="custom-control-label" for="Dependent" style="font-weight: 500;"></label>
											</div>
										</td>
										<td style="width: 120px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 300px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<div class="custom-control custom-checkbox custom-control-inline ml-1">
												<input type="checkbox" class="custom-control-input" id="RaisedBy">
												<label class="custom-control-label" for="RaisedBy" style="font-weight: 500;"></label>
											</div>
										</td>
										<td>
											<div class="custom-control custom-checkbox custom-control-inline ml-1">
												<input type="checkbox" class="custom-control-input" id="Dependent">
												<label class="custom-control-label" for="Dependent" style="font-weight: 500;"></label>
											</div>
										</td>
										<td style="width: 120px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 300px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<div class="custom-control custom-checkbox custom-control-inline ml-1">
												<input type="checkbox" class="custom-control-input" id="RaisedBy">
												<label class="custom-control-label" for="RaisedBy" style="font-weight: 500;"></label>
											</div>
										</td>
										<td>
											<div class="custom-control custom-checkbox custom-control-inline ml-1">
												<input type="checkbox" class="custom-control-input" id="Dependent">
												<label class="custom-control-label" for="Dependent" style="font-weight: 500;"></label>
											</div>
										</td>
										<td style="width: 120px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 300px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<div class="custom-control custom-checkbox custom-control-inline ml-1">
												<input type="checkbox" class="custom-control-input" id="RaisedBy">
												<label class="custom-control-label" for="RaisedBy" style="font-weight: 500;"></label>
											</div>
										</td>
										<td>
											<div class="custom-control custom-checkbox custom-control-inline ml-1">
												<input type="checkbox" class="custom-control-input" id="Dependent">
												<label class="custom-control-label" for="Dependent" style="font-weight: 500;"></label>
											</div>
										</td>
										<td style="width: 120px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 300px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<div class="custom-control custom-checkbox custom-control-inline ml-1">
												<input type="checkbox" class="custom-control-input" id="RaisedBy">
												<label class="custom-control-label" for="RaisedBy" style="font-weight: 500;"></label>
											</div>
										</td>
										<td>
											<div class="custom-control custom-checkbox custom-control-inline ml-1">
												<input type="checkbox" class="custom-control-input" id="Dependent">
												<label class="custom-control-label" for="Dependent" style="font-weight: 500;"></label>
											</div>
										</td>
										<td style="width: 120px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">SEARCH FAMILY MEMBERS IN DOC DATABASE</h6>
			<div class="row mb-1">
				<div class="col-12 col-lg-10 pr-0">
					<div class="d-flex align-items-center my-2 ml-2">
						<label class="form-lable mb-0 mr-1">Name</label>
						<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value=" " style="width: 300px;">
						<button type="button" class="btn-primary btn btn-sm mx-1">Search</button>
					 </div>
					 <div id="table-container" style="border: 1px solid #7a59ad; border-top: 0;" class="mb-1">
						<div class="tableFixHead" style="max-height: 370px;">
							<table id="" class="table table-striped table-bordered table-sm" style="margin-bottom:0;">
								<thead>
									<th style="width: 250px;">Full Name</th>
									<th>Type</th> 
									<th>SBI#</th>
									<th>Location</th> 
									<th>Status</th> 
									<th>Relationship</th> 
									<th>Source</th> 
									<th>Date Reported</th>
								</thead>
							    <tbody>
									<tr>
										<td style="width: 250px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 250px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 250px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 250px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 250px;">
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
										</td>
									</tr>
								</tbody>
							</table>
						</div>	
					</div>
				</div>
				<div class="col-12 col-lg-2 pl-0 text-center">
					<label class="form-label mr-2 mb-0 text-nowrap">Family Criminal History</label>
					<div>
						<img src="img/demo/avatars/avatar-admin-lg.png" id="imageContainer" alt="Inmate"  width="200" height="200">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>