<div th:fragment="OffenderSummaryeduactionCulturalinfotab" th:remove="tag">
	<div class="row"> 
		<div class="col-lg-12">
			<div class="panel panelContentBlock mb-2 p-1">
				<div class="row">
					<div class="col-lg-2 pr-0 d-flex align-items-center">
						<label for="" class="form-label mr-2 mb-0 text-nowrap">Cultural Influence</label>
						<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="" disabled>
					</div>
					<div class="col-lg-2 pr-0 d-flex align-items-center">
						<label for="" class="form-label mr-2 mb-0 text-nowrap">Language</label>
						<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="" disabled>
					</div>
					<div class="col-lg-2 pr-0 d-flex align-items-center">
						<label for="" class="form-label mr-2 mb-0 text-nowrap">Comprehend English</label>
						<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="" disabled>
					</div>
					<div class="col-lg-2 pr-0 d-flex align-items-center">
						<label for="" class="form-label mr-2 mb-0 text-nowrap">Language 2nd</label>
						<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="" disabled>
					</div>
					<div class="col-lg-2 pr-0 d-flex align-items-center">
						<label for="" class="form-label mr-2 mb-0 text-nowrap">Birth City</label>
						<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="" disabled>
					</div>
					<div class="col-lg-2 d-flex align-items-center">
						<label for="" class="form-label mr-2 mb-0 text-nowrap">Birth State</label>
						<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="CONNECTICUT" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>