<div th:fragment="OffenderSummarySocialHistorytab" th:remove="tag">
	<div class="row">
		<div class="col-lg-12">
			<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">SOCIAL HISTORY</h6>
			<div class="row mb-1">
				<div class="col-12 col-lg-12">
					<div class="panel panelContentBlock mb-2 p-1">	
						<div class="row">
							<div class="col-lg-9 pr-0">
								<div id="table-container" class="mb-1">
									<div class="tableFixHead" style="max-height: 370px;">
										<div class="d-flex align-items-center px-1 my-1">
											<label for="" class="form-label mr-2 mb-0 text-nowrap">Do you have a history of alcohol/drug consumption?</label>
											<div class="custom-control custom-radio mr-2">
			                                    <input type="radio" class="custom-control-input" id="yesCheck1" name="yesCheck1" aria-label="yesCheck1" value="" checked="">
			                                    <label class="custom-control-label" for="yesCheck1"> Yes</label>
			                                </div>
			                                <div class="custom-control custom-radio">
			                                    <input type="radio" class="custom-control-input" id="noCheck1" name="noCheck1" aria-label="noCheck1" value="">
			                                    <label class="custom-control-label" for="noCheck1"> No</label>
			                                </div>
			                                <a href="" class="btn-success btn btn-sm ml-2">New</a>
										</div>
										<table id="" class="table table-striped table-bordered table-sm" style="margin-bottom:0;">
											<thead>
												<th>Substance Type</th>
												<th style="width: 100px;">Frequency</th> 
												<th style="width: 120px;" class="text-nowrap">Frequency Unit</th> 
												<th style="width: 120px;">Last Used</th> 
												<th>Source</th> 
												<th style="width: 120px;" class="text-nowrap">Date Reported</th> 
											</thead>
										    <tbody>
												<tr>
													<td>
														<select class="custom-select form-control typecontact">
															<option>Hallucinogens</option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 100px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td style="width: 120px;">
														<select class="custom-select form-control typecontact">
															<option>Daily</option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 120px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<select class="custom-select form-control typecontact">
															<option>DOE</option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 120px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="06/24/2024">
													</td>
												</tr>
												<tr class="disabletd">
													<td>
														<select class="custom-select form-control typecontact">
															<option> </option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 100px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td style="width: 120px;">
														<select class="custom-select form-control typecontact">
															<option> </option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 120px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<select class="custom-select form-control typecontact">
															<option> </option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 120px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
												</tr>
												<tr class="disabletd">
													<td>
														<select class="custom-select form-control typecontact">
															<option> </option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 100px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td style="width: 120px;">
														<select class="custom-select form-control typecontact">
															<option> </option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 120px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<select class="custom-select form-control typecontact">
															<option> </option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 120px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
												</tr>
												<tr class="disabletd">
													<td>
														<select class="custom-select form-control typecontact">
															<option> </option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 100px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td style="width: 120px;">
														<select class="custom-select form-control typecontact">
															<option> </option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 120px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<select class="custom-select form-control typecontact">
															<option> </option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td style="width: 120px;">
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<textarea class="form-control mt-1" id="addComments" placeholder="Comments" rows="10" name="Comments" aria-label="Comments" style="resize:none;" value=""></textarea>
							</div>
						</div>
					</div>
					<div class="panel panelContentBlock mb-2 p-1">	
						<div class="row">
							<div class="col-lg-9 pr-0">
								<div id="table-container" class="mb-1">
									<div class="tableFixHead" style="max-height: 370px;">
										<div class="d-flex align-items-center px-1 my-1">
											<label for="" class="form-label mr-2 mb-0 text-nowrap">Have you received any treatment for substance abuse?</label>
											<div class="custom-control custom-radio mr-2">
			                                    <input type="radio" class="custom-control-input" id="yesCheck2" name="yesCheck2" aria-label="yesCheck2" value="" checked="">
			                                    <label class="custom-control-label" for="yesCheck2"> Yes</label>
			                                </div>
			                                <div class="custom-control custom-radio">
			                                    <input type="radio" class="custom-control-input" id="noCheck2" name="noCheck2" aria-label="noCheck2" value="">
			                                    <label class="custom-control-label" for="noCheck2"> No</label>
			                                </div>
			                                <a href="" class="btn-success btn btn-sm ml-2">New</a>
										</div>
										<table id="" class="table table-striped table-bordered table-sm" style="margin-bottom:0;">
											<thead>
												<th>Type</th>
												<th>Date</th>
												<th>Location</th>
												<th>Duration</th>
												<th style="width: 300px;">Source</th>
												<th>Date Reported</th>
												<th>Completed</th>
											</thead>
										    <tbody>
												<tr>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="Testing5421">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="06/24/2024">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="Nw york">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="10">
													</td>
													<td style="width: 300px;">
														<select class="custom-select form-control typecontact">
															<option></option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="06/24/2024">
													</td>
													<td>
														<div class="custom-control custom-checkbox custom-control-inline ml-1">
															<input type="checkbox" class="custom-control-input" id="CompletedCheck1" checked="">
															<label class="custom-control-label" for="CompletedCheck1" style="font-weight: 500;"></label>
														</div>
													</td>
												</tr>
												<tr class="disabletd">
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td style="width: 300px;">
														<select class="custom-select form-control typecontact">
															<option></option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<div class="custom-control custom-checkbox custom-control-inline ml-1">
															<input type="checkbox" class="custom-control-input" id="CompletedCheck1">
															<label class="custom-control-label" for="CompletedCheck1" style="font-weight: 500;"></label>
														</div>
													</td>
												</tr>
												<tr class="disabletd">
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td style="width: 300px;">
														<select class="custom-select form-control typecontact">
															<option></option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<div class="custom-control custom-checkbox custom-control-inline ml-1">
															<input type="checkbox" class="custom-control-input" id="CompletedCheck1">
															<label class="custom-control-label" for="CompletedCheck1" style="font-weight: 500;"></label>
														</div>
													</td>
												</tr>
												<tr class="disabletd">
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td style="width: 300px;">
														<select class="custom-select form-control typecontact">
															<option></option>
															<option value="Option 1">test</option>
															<option value="Option 2">test1</option>
														</select>
													</td>
													<td>
														<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
													</td>
													<td>
														<div class="custom-control custom-checkbox custom-control-inline ml-1">
															<input type="checkbox" class="custom-control-input" id="CompletedCheck1">
															<label class="custom-control-label" for="CompletedCheck1" style="font-weight: 500;"></label>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<textarea class="form-control mt-1" id="addComments" placeholder="Comments" rows="10" name="Comments" aria-label="Comments" style="resize:none;" value=""></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>