<div th:fragment="OffenderSummaryOthertab" th:remove="tag">
	<div class="row">
		<div class="col-lg-12">
			<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">SPECIAL NEEDS</h6>
			<div class="row">
				<div class="col-lg-6 pr-0">
					<div class="panel panelContentBlock mb-2 p-1">	
						<div class="row">							
							<div class="col-lg-8 pr-0 d-flex align-items-center">
								<label for=" " class="form-label mr-2 mb-0 text-nowrap" style="width: 250px;">Housing Support</label>
								<select class="custom-select form-control typecontact">
									<option></option>
									<option value="Option 1">test</option>
									<option value="Option 2">test1</option>
								</select>
							</div>
							<div class="col-lg-4 pr-0 d-flex align-items-center">
								 <div class="d-flex align-items-center text-nowrap p-1">
									<label for="" class="form-label mr-2 mb-0 text-nowrap">Completed</label>
									<div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="YesCheck1" name="YesCheck1" aria-label="YesCheck1" value="">
						                <label class="custom-control-label" for="YesCheck1">Yes</label>
						            </div>
						            <div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="NoCheck1" name="NoCheck1" aria-label="NoCheck1" value="">
						                <label class="custom-control-label" for="NoCheck1">No</label>
						            </div>
						            <span class="position-relative pl-3" data-toggle="modal" data-target="#otherHistoryModal" style="font-size: 20px;color: #00ab8d;width: 20px;cursor:pointer">
										<i class="fa fa-header" aria-hidden="true"></i>
									</span>
								</div>
							</div>
							<div class="col-lg-8 pr-0 d-flex align-items-center">
								<label for=" " class="form-label mr-2 mb-0 text-nowrap" style="width: 250px;">Intelligence Functioning</label>
								<select class="custom-select form-control typecontact">
									<option></option>
									<option value="Option 1">test</option>
									<option value="Option 2">test1</option>
								</select>
							</div>
							<div class="col-lg-4 pr-0 d-flex align-items-center">
								 <div class="d-flex align-items-center text-nowrap p-1">
									<label for="" class="form-label mr-2 mb-0 text-nowrap">Completed</label>
									<div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="YesCheck1" name="YesCheck1" aria-label="YesCheck1" value="">
						                <label class="custom-control-label" for="YesCheck1">Yes</label>
						            </div>
						            <div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="NoCheck1" name="NoCheck1" aria-label="NoCheck1" value="">
						                <label class="custom-control-label" for="NoCheck1">No</label>
						            </div>
						            <span class="position-relative pl-3" style="font-size: 20px;color: #00ab8d;width: 20px;">
										<i class="fa fa-header" aria-hidden="true"></i>
									</span>
								</div>
							</div>
							<div class="col-lg-8 pr-0 d-flex align-items-center">
								<label for=" " class="form-label mr-2 mb-0 text-nowrap" style="width: 250px;">Verified History of D/A TX</label>
								<select class="custom-select form-control typecontact">
									<option></option>
									<option value="Option 1">test</option>
									<option value="Option 2">test1</option>
								</select>
							</div>
							<div class="col-lg-4 pr-0 d-flex align-items-center">
								 <div class="d-flex align-items-center text-nowrap p-1">
									<label for="" class="form-label mr-2 mb-0 text-nowrap">Completed</label>
									<div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="YesCheck1" name="YesCheck1" aria-label="YesCheck1" value="">
						                <label class="custom-control-label" for="YesCheck1">Yes</label>
						            </div>
						            <div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="NoCheck1" name="NoCheck1" aria-label="NoCheck1" value="">
						                <label class="custom-control-label" for="NoCheck1">No</label>
						            </div>
						            <span class="position-relative pl-3" style="font-size: 20px;color: #00ab8d;width: 20px;">
										<i class="fa fa-header" aria-hidden="true"></i>
									</span>
								</div>
							</div>
							<div class="col-lg-8 pr-0 d-flex align-items-center">
								<label for=" " class="form-label mr-2 mb-0 text-nowrap" style="width: 250px;">Verified History of SO TX</label>
								<select class="custom-select form-control typecontact">
									<option></option>
									<option value="Option 1">test</option>
									<option value="Option 2">test1</option>
								</select>
							</div>
							<div class="col-lg-4 pr-0 d-flex align-items-center">
								 <div class="d-flex align-items-center text-nowrap p-1">
									<label for="" class="form-label mr-2 mb-0 text-nowrap">Completed</label>
									<div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="YesCheck1" name="YesCheck1" aria-label="YesCheck1" value="">
						                <label class="custom-control-label" for="YesCheck1">Yes</label>
						            </div>
						            <div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="NoCheck1" name="NoCheck1" aria-label="NoCheck1" value="">
						                <label class="custom-control-label" for="NoCheck1">No</label>
						            </div>
						            <span class="position-relative pl-3" style="font-size: 20px;color: #00ab8d;width: 20px;">
										<i class="fa fa-header" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>				
					</div>
				</div>
				<div class="col-lg-6">
					<div class="panel panelContentBlock mb-2 p-1">						
						<textarea class="form-control" id="addComments" placeholder="Other Concerns" rows="7" name="Comments" aria-label="Comments" style="resize:none;" value=""></textarea>
					</div>
				</div>
			</div>
			<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">SEX OFFENDER INFORMATION</h6>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panelContentBlock mb-2 p-1">	
						<div class="row">							
							<div class="col-lg-3 pr-0 d-flex align-items-center">
								<label for=" " class="form-label mr-2 mb-0 text-nowrap">Static-99 Risk Category</label>
								<select class="custom-select form-control typecontact">
									<option></option>
									<option value="Option 1">test</option>
									<option value="Option 2">test1</option>
								</select>
							</div>
							<div class="col-lg-3 pr-0 d-flex align-items-center">
								<label for=" " class="form-label mr-2 mb-0 text-nowrap">Tier Level</label>
								<select class="custom-select form-control typecontact">
									<option></option>
									<option value="Option 1">test</option>
									<option value="Option 2">test1</option>
								</select>
							</div>
							<div class="col-lg-3 pr-0 d-flex align-items-center">
								 <div class="d-flex align-items-center text-nowrap p-1">
									<label for="" class="form-label mr-2 mb-0 text-nowrap">Abel Evaluation Completed</label>
									<div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="YesCheck1" name="YesCheck1" aria-label="YesCheck1" value="">
						                <label class="custom-control-label" for="YesCheck1">Yes</label>
						            </div>
						            <div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="NoCheck1" name="NoCheck1" aria-label="NoCheck1" value="">
						                <label class="custom-control-label" for="NoCheck1">No</label>
						            </div>
								</div>
							</div>
							<div class="col-lg-3 pl-0 d-flex align-items-center">
								<label for=" " class="form-label mr-2 mb-0 text-nowrap">Result</label>
								<select class="custom-select form-control typecontact">
									<option></option>
									<option value="Option 1">test</option>
									<option value="Option 2">test1</option>
								</select>
								 <span class="position-relative pl-3" style="font-size: 20px;color: #00ab8d;">
									<i class="fa fa-header" aria-hidden="true"></i>
								</span>
							</div>
							<div class="col-lg-3 pr-0 d-flex align-items-center">
								 <div class="d-flex align-items-center text-nowrap p-1">
									<label for="" class="form-label mr-2 mb-0 text-nowrap">Psychiatric Evaluation Completed</label>
									<div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="YesCheck1" name="YesCheck1" aria-label="YesCheck1" value="">
						                <label class="custom-control-label" for="YesCheck1">Yes</label>
						            </div>
						            <div class="custom-control custom-radio mr-2">
						                <input type="radio" class="custom-control-input" id="NoCheck1" name="NoCheck1" aria-label="NoCheck1" value="">
						                <label class="custom-control-label" for="NoCheck1">No</label>
						            </div>
								</div>
							</div>
							<div class="col-lg-3 d-flex align-items-center">
								<label for=" " class="form-label mr-2 mb-0 text-nowrap">Result</label>
								<select class="custom-select form-control typecontact">
									<option></option>
									<option value="Option 1">test</option>
									<option value="Option 2">test1</option>
								</select>
								<span class="position-relative pl-3" style="font-size: 20px;color: #00ab8d;">
									<i class="fa fa-header" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="otherHistoryModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header pt-3 pb-2">
						<h6 class="modal-title"> History </h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"><i class="fal fa-times"></i></span>
						</button>
					</div>
					<div class="modal-body py-0">
						<div class="d-flex align-items-center mb-1 w-25">
							<label for="dob" class="form-label mb-0 mr-2 text-nowrap">Category</label>
							<input type="text" class="form-control mr-1" aria-label="condition" name="condition" id="condition" value="">
						</div>
						<div class="tableFixHead">
							<table id="" class="table table-striped table-bordered table-sm mb-0">
								<thead>
									<tr>
										<th style="width: 150px;">Date Entered</th>
										<th style="width: 200px;">Results</th>
										<th style="width: 80px;">Completed</th>
										<th style="width: 200px;">Entered By</th>
										<th>Comments</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td style="width: 150px;">
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td style="width: 80px;">
											<div class="d-flex align-items-center">
												<div class="custom-control custom-radio mr-2">
									                <input type="radio" class="custom-control-input" id="historyModalYesCheck" name="historyModalYesCheck" aria-label="historyModalYesCheck" value="">
									                <label class="custom-control-label" for="historyModalYesCheck">Yes</label>
									            </div>
									            <div class="custom-control custom-radio mr-2">
									                <input type="radio" class="custom-control-input" id="historyModalNoCheck" name="historyModalNoCheck" aria-label="historyModalNoCheck" value="">
									                <label class="custom-control-label" for="historyModalNoCheck">No</label>
									            </div>
											</div>
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 150px;">
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td style="width: 80px;">
											<div class="d-flex align-items-center">
												<div class="custom-control custom-radio mr-2">
									                <input type="radio" class="custom-control-input" id="historyModalYesCheck" name="historyModalYesCheck" aria-label="historyModalYesCheck" value="">
									                <label class="custom-control-label" for="historyModalYesCheck">Yes</label>
									            </div>
									            <div class="custom-control custom-radio mr-2">
									                <input type="radio" class="custom-control-input" id="historyModalNoCheck" name="historyModalNoCheck" aria-label="historyModalNoCheck" value="">
									                <label class="custom-control-label" for="historyModalNoCheck">No</label>
									            </div>
											</div>
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 150px;">
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td style="width: 80px;">
											<div class="d-flex align-items-center">
												<div class="custom-control custom-radio mr-2">
									                <input type="radio" class="custom-control-input" id="historyModalYesCheck" name="historyModalYesCheck" aria-label="historyModalYesCheck" value="">
									                <label class="custom-control-label" for="historyModalYesCheck">Yes</label>
									            </div>
									            <div class="custom-control custom-radio mr-2">
									                <input type="radio" class="custom-control-input" id="historyModalNoCheck" name="historyModalNoCheck" aria-label="historyModalNoCheck" value="">
									                <label class="custom-control-label" for="historyModalNoCheck">No</label>
									            </div>
											</div>
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 150px;">
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td style="width: 80px;">
											<div class="d-flex align-items-center">
												<div class="custom-control custom-radio mr-2">
									                <input type="radio" class="custom-control-input" id="historyModalYesCheck" name="historyModalYesCheck" aria-label="historyModalYesCheck" value="">
									                <label class="custom-control-label" for="historyModalYesCheck">Yes</label>
									            </div>
									            <div class="custom-control custom-radio mr-2">
									                <input type="radio" class="custom-control-input" id="historyModalNoCheck" name="historyModalNoCheck" aria-label="historyModalNoCheck" value="">
									                <label class="custom-control-label" for="historyModalNoCheck">No</label>
									            </div>
											</div>
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
									</tr>
									<tr class="disabletd">
										<td style="width: 150px;">
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td style="width: 80px;">
											<div class="d-flex align-items-center">
												<div class="custom-control custom-radio mr-2">
									                <input type="radio" class="custom-control-input" id="historyModalYesCheck" name="historyModalYesCheck" aria-label="historyModalYesCheck" value="">
									                <label class="custom-control-label" for="historyModalYesCheck">Yes</label>
									            </div>
									            <div class="custom-control custom-radio mr-2">
									                <input type="radio" class="custom-control-input" id="historyModalNoCheck" name="historyModalNoCheck" aria-label="historyModalNoCheck" value="">
									                <label class="custom-control-label" for="historyModalNoCheck">No</label>
									            </div>
											</div>
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
										<td>
											<input type="text" class="form-control" aria-label="stay" name="stay" id="stay" value="">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div> 
			</div>			
	 	</div>
	</div>
</div>