
<head>
	<meta charset="utf-8">
	<title>
		Omnet
	</title>
	<meta name="description" content="Login">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
	<!-- Call App Mode on ios devices -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Remove Tap Highlight on Windows Phone IE -->
	<meta name="msapplication-tap-highlight" content="no">
	<!-- base css -->
	<link rel="stylesheet" media="screen, print" href="css/vendors.bundle.css">
	<link rel="stylesheet" media="screen, print" href="css/app.bundle.css">
	<!-- Place favicon.ico in the root directory -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<!-- 	Optional: page related CSS -->
	<link rel="stylesheet" media="screen, print" href="css/page-login.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<style>
	.page-logo-text {
		font-weight: 400;
		font-size: 22px;
		text-align: center;
	}
	html body .blankpage-form-field {

    width: 450px;
	top: 50%;
    }
.fa-eye{
  position: absolute;
  top: 56%;
  right: 9%;
  cursor: pointer;
  color: lightgray;
}
    
/*     
  .passwordEyeIcon .fa-eye{
	top: 12px;
    right: 12px;
}
  .passwordEyeIcon {
        position: relative;
    }

    .passwordEyeIcon .fa-eye {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
        color: lightgray;
    } */

</style>


<body>
	<div class="blankpage-form-field">
		<div
			class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
			<a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
				<img id="dacsImage" alt="DACS Logo" aria-roledescription="logo" style="height:68px; width:68px;">
				<span class="page-logo-text mr-1"><b id="clientname"></b></span>
			</a>
		</div>
		<div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
		<div class="" style="text-align: center; margin-top: -20px; margin-bottom: 10px;">
        <img id="omnetImage" alt="DACS Logo" aria-roledescrption="logo">
		</div>
	
			<form action="OmnetDesktop">
				<div class="form-group mt-3">
				<div class="mb-3">
				<div id="errorNAME" style="display:none; color: red;"></div>
					<label class="form-label"  for="user-name" id="usernameDisplay" >UserName</label>
					<label type="text" id="user-name" name="username" class="form-control" placeholder="Username" value=""></label>
				</div>
				<div class="mb-3">
					<label class="form-label" for="username">New Password</label>
					<span class="position-relative">					
						<input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="New Password" value="">
					    <i class="fa-solid fa-eye position-absolute" id="eyeNewPassword"></i>
					</span>
				</div>
				<div class="">
					<label class="form-label" for="username">Confirm Password</label>
					<span class="position-relative">					
						<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="New Password (Confirm)" value="">
						<i class="fa-solid fa-eye position-absolute" id="eyeConfirmPassword"></i>
					</span>
				</div>
				<div class="form-text text-muted">
                    <p class="help-block">
						<ul class="pl-4">
							<li>Password should be At least 8 characters long</li>
							<li>Should have at least one Lowercase Letter</li>
							<li>Should have at least one Uppercase Letter</li>
							<li>Should have at least one Numeric Digit, one special character</li>
						</ul> </p>
                </div>
				<button type="button" id="validateAndSavePassword" class="btn btn-primary float-right">Submit</button>
			</form>
			<br>
			<div class="blankpage-footer text-center">
			© <span class="hidden-md-down fw-700" id="current-year"></span><img height="30"  alt="www.cntit.com" src="img/CNTIT_logo.png"> All rights reserved.<br>Powered by <a href="https://www.cntinfotech.com/" target="_blank"> CntInfotech</a>.
		</div>
		</div>

	</div>
 <div class="modal fade modal-backdrop-transparent" id="forget-modal-backdrop-transparent" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">FORGOT PASSWORD</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="alert alert-danger">

                                        <p>Kindly choose your email id or mobile number to get OTP </p>
                                        <p class="m-0">
											<div
														class="custom-control custom-checkbox custom-control-inline">
														<input type="checkbox" class="custom-control-input"
															id="defaultInline4"> <label
															class="custom-control-label" for="defaultInline4">xxxxxxxx45</label>
													</div>
													<br><br>
													<div
														class="custom-control custom-checkbox custom-control-inline">
														<input type="checkbox" class="custom-control-input"
															id="defaultInline4"> <label
															class="custom-control-label" for="defaultInline4">xxxxxxxxxxgmail.com</label>
													</div>
                                           
                                        </p>
                                  
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="#" type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                                                            <a href="ForgetPassword"  type="button" class="btn btn-primary">Submit</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
	<video poster="img/backgrounds/clouds.png" id="bgvid" playsinline autoplay muted loop>
		<source src="media/video/cc.webm" type="video/webm">
		<source src="media/video/cc.mp4" type="video/mp4">
	</video>
	
	 <script src="js/vendors.bundle.js"></script>
	<script src="js/app.bundle.js"></script> 
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
	<!-- Page related scripts -->
<script th:inline="javascript">

$(document).ready(function () {	
	/*<![CDATA[*/
	var contextPath = /*[[@{/}]]*/'';
/*]]>*/
	
    var xhr = new XMLHttpRequest();
    xhr.onload = (res) => {
        if (res.target.status == 200) {
            document.getElementById("clientname").innerHTML = res.target.responseText;
        }
    };
    xhr.onerror = () => {
        console.error("An error occurred during the XMLHttpRequest.");
    };
    xhr.open("GET",contextPath+ "clientname", true);
    xhr.send();
    
    fetch(contextPath+"clientlogo")
    .then(response => response.blob())
    .then(blob => {
    const url = URL.createObjectURL(blob);
    document.getElementById("dacsImage").src = url;
    })
    .catch(error => {
    console.error("Error loading DACS logo:", error);
    });

    fetch(contextPath+"OmnetLogo")
    .then(response => response.blob())
    .then(blob => {
    const url = URL.createObjectURL(blob);
    document.getElementById("omnetImage").src = url;
    })
    .catch(error => {
    console.error("Error loading Omnet logo:", error);
    });

    $('#eyeConfirmPassword').on('click', function () {
        togglePasswordVisibility('confirmPassword');
    });
    
    $('#eyeNewPassword').on('click', function () {
        togglePasswordVisibility('newpassword');
    });
  
    
    
    $('#eyeConfirmPassword').on('click', function () {
        var confirmPassword = $('#confirmPassword');
        if(passwordInput.attr('type')==='password'){
        	 $(this).attr('title', ' ');
        }
        if (passwordInput.attr('type') === 'password') {
            passwordInput.attr('type', 'text');
            $(this).attr('title', 'Hide');
        } else {
            passwordInput.attr('type', 'password');
            $(this).attr('title', 'Show');
        }
    });
    
    $('#eyeNewPassword').on('click', function () {
        var newPassword = $('#newpassword');
        if(passwordInput.attr('type')==='password'){
        	 $(this).attr('title', ' ');
        }
        if (passwordInput.attr('type') === 'password') {
            passwordInput.attr('type', 'text');
            $(this).attr('title', 'Hide');
        } else {
            passwordInput.attr('type', 'password');
            $(this).attr('title', 'Show');
        }
    });
    
    function togglePasswordVisibility(inputId) {
        var passwordInput = $('#' + inputId);

        if (passwordInput.attr('type') === 'password') {
            passwordInput.attr('type', 'text');
        } else {
            passwordInput.attr('type', 'password');
        }
    }
    
    var userId = localStorage.getItem('userId');
    if (userId) {
        var userIdInCaps = userId.toUpperCase();
        console.log(userIdInCaps);
        $('#user-name').text(userIdInCaps);
    } else {
        console.log("No userId found in localStorage.");
    }
    
    $('#confirmPassword').on('keydown', function (event) {
	    if (event.keyCode === 13) {
	    	 event.preventDefault();
	        $('#validateAndSavePassword').trigger('click'); 
	    }
	});
 
   
    $('#validateAndSavePassword').on('click', function () {    
    	  var userId = localStorage.getItem('userId');
    	  var userIdInCaps = userId.toUpperCase();
          console.log(userIdInCaps);
          $('#user-name').text(userIdInCaps);
        var newPassword = $('#newpassword').val();
        var confirmPassword = $('#confirmPassword').val();
        $('#user-name').text(userId);
  	  $('#errorNAME').hide(); 
      $('#responseMessage').hide();

        if ($('#newpassword').val() == '') {
            $('#errorNAME').html('<span style="color: red;">Please enter new password</span>');
            $('#errorNAME').css('display', 'block');
            $('#newpassword').focus();
            return;
        }
        if ($('#confirmPassword').val() == '') {
            $('#errorNAME').html('<span style="color: red;">Please enter confirm password</span>');
            $('#errorNAME').css('display', 'block');
            $('#confirmPassword').focus();
        
            return;
        }

	   
	    if (newPassword.length < 8) {
	        $('#errorNAME').html('<span style="color: red;">Password must be at least 8 characters</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (newPassword.length > 15) {
	        $('#errorNAME').html('<span style="color: red;">Password must be at most 15 characters</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (!/\d/.test(newPassword)) {
	        $('#errorNAME').html('<span style="color: red;">Password must contain at least one digit</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (!/[a-z]/.test(newPassword)) {
	        $('#errorNAME').html('<span style="color: red;">Password must contain at least one lowercase letter</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (!/[A-Z]/.test(newPassword)) {
	        $('#errorNAME').html('<span style="color: red;">Password must contain at least one uppercase letter</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

	    if (!/[@#$%^&+=!*]/.test(newPassword)) {
	        $('#errorNAME').html('<span style="color: red;">Password must contain at least one special character</span>').show();
	        $('#newpassword').focus();
	        return;
	    }

        $('#errorNAME').html('');
        
        $.ajax({
            method: "POST",
            url: contextPath+'LoginApi/savePassword',
            data: {
            	userId: userIdInCaps,
                newPassword: newPassword,
                confirmPassword: confirmPassword
            },
            success: function (response) {
                if (response === "Password saved successfully") {
                    $("#ResponseNAME").html("Password saved successfully");
                    $('#responseMessage').show(); 
	                $('#errorNAME').hide();
                    window.location.href = contextPath+"";
                } else if (response === "Passwords do not match") {
                    $("#errorNAME").html("Passwords do not match");
                    $('#errorNAME').show();
                    $('#responseMessage').hide()
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    });
});
      
document.getElementById("current-year").innerHTML = new Date().getFullYear();			
			</script>
			
</body>

</html>