<div th:fragment="PretrialCaseCloseTransferChecklistTab" th:remove="tag">
	<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">APPROVALS</h6>
	<div class="my-3">		
		<div class="panel panelContentBlock my-2 p-1 m-auto w-100" style="max-width: 750px;">
			<div class="row">
				<div class="col-lg-8 pr-0 d-flex align-items-center mt-2">
					<label for="" class="form-label mr-2 mb-0 text-nowrap" style="min-width: 110px;">Approved</label>
					<select class="custom-select form-control typecontact">
						<option></option>
						<option value="Option 1">test</option>
						<option value="Option 2">test1</option>
					</select> 
				</div>
				<div class="col-lg-12 d-flex align-items-center mt-2">
					<label for="" class="form-label mr-2 mb-0 text-nowrap" style="min-width: 110px;">Approved By</label>
					<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="" disabled>
				</div>
				<div class="col-lg-6 pr-0 d-flex align-items-center mt-2">
					<label for="" class="form-label mr-2 mb-0 text-nowrap" style="min-width: 110px;">Date</label>
					<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
					<label for="" class="form-label ml-3 mr-2 mb-0 text-nowrap">Time</label>
					<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
				</div>
				<div class="col-lg-12 d-flex align-items-center mt-2">
					<label for="" class="form-label mr-2 mb-0 text-nowrap" style="min-width: 110px;">Receiving Method</label>
					<select class="custom-select form-control typecontact">
						<option></option>
						<option value="Option 1">test</option>
						<option value="Option 2">test1</option>
					</select> 
				</div>
				<div class="col-lg-12 d-flex align-items-center mt-2">
					<label for="" class="form-label mr-2 mb-0 text-nowrap" style="min-width: 110px;">Specialization</label>
					<select class="custom-select form-control typecontact">
						<option></option>
						<option value="Option 1">test</option>
						<option value="Option 2">test1</option>
					</select> 
				</div>
				<div class="col-lg-12 d-flex align-items-center mt-2">
					<label for="" class="form-label mr-2 mb-0 text-nowrap" style="min-width: 110px;">Level Classification</label>
					<select class="custom-select form-control typecontact">
						<option></option>
						<option value="Option 1">test</option>
						<option value="Option 2">test1</option>
					</select> 
				</div>
				<div class="col-lg-12 d-flex align-items-center my-2">
					<label for="" class="form-label mr-2 mb-0 text-nowrap" style="min-width: 110px;">Notify Sent To</label>
					<input type="text" class="form-control" aria-label=" " name="ContactDate" id="" value="">
					<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="Release MethodModal" data-class="nav-function-hidden">
	                    <i class="fa fa-users"></i>
	                 </a>
				</div>
			</div>
		</div>
	</div>
</div>