<div th:fragment="RiskAssessmentTab" th:remove="tag">
	<div class="row m-1"> 
		<div class="col-lg-6 d-flex align-items-center p-1">
			<label for="Security" class="form-label mr-2 mb-0 text-nowrap text-nowrap">Interviewer Name (F, L, M, S)</label>
			<input type="text" class="form-control" aria-label="" value="" placeholder="Matt Patterson W">
			<span data-toggle="modal" data-target="#">
				<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="Officer Name (F, L, M, S)">
					<i class="fa fa-download" aria-hidden="true"></i>
				</a>
			</span>
		</div>
		<div class="col-lg-12 px-0 mt-1">
			<div id="table-container" class="mb-2">
				<div class="tableFixHead" style="max-height: 365px;border: 1px solid #7a59ad;">
				 	<table id="" class="table table-striped table-bordered table-sm" style="margin-bottom:0">
						<thead>
							<tr>
								<th></th>
								<th style="width: 400px;"></th>
								<th style="width: 50px;"></th>
								<th style="width: 170px;">Risk Assessment Values</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="Current Lead Offense">
								</td>
								<td class="disabletd"  style="width: 400px;">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<span class="d-flex">
										<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="">
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
									</span>
								</td>
								<td class="disabletd"  style="width: 170px;">
									<input type="text" class="form-control" aria-label="" value="0">
								</td>
							</tr>
							<tr>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="Other Offenses and Bail Status">
								</td>
								<td class="disabletd"  style="width: 400px;">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<span class="d-flex">
										<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="">
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
									</span>
								</td>
								<td class="disabletd"  style="width: 170px;">
									<input type="text" class="form-control" aria-label="" value="0">
								</td>
							</tr>
							<tr>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="Escape / Abscond / Bail jump history">
								</td>
								<td class="disabletd"  style="width: 400px;">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<span class="d-flex">
										<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="">
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
									</span>
								</td>
								<td class="disabletd"  style="width: 170px;">
									<input type="text" class="form-control" aria-label="" value="0">
								</td>
							</tr>
							<tr>
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="Institutional Risk">
								</td>
								<td class="disabletd"  style="width: 400px;">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<span class="d-flex">
										<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="">
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
									</span>
								</td>
								<td class="disabletd"  style="width: 170px;">
									<input type="text" class="form-control" aria-label="" value="0">
								</td>
							</tr>
							<tr class="disabletd">
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td class="disabletd"  style="width: 400px;">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<span class="d-flex">
										<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="">
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
									</span>
								</td>
								<td class="disabletd"  style="width: 170px;">
									<input type="text" class="form-control" aria-label="" value="0">
								</td>
							</tr>
							<tr class="disabletd">
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td class="disabletd"  style="width: 400px;">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<span class="d-flex">
										<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="">
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
									</span>
								</td>
								<td class="disabletd"  style="width: 170px;">
									<input type="text" class="form-control" aria-label="" value="0">
								</td>
							</tr>
							<tr class="disabletd">
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td class="disabletd"  style="width: 400px;">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<span class="d-flex">
										<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="">
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
									</span>
								</td>
								<td class="disabletd"  style="width: 170px;">
									<input type="text" class="form-control" aria-label="" value="0">
								</td>
							</tr>
							<tr class="disabletd">
								<td class="disabletd">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td class="disabletd"  style="width: 400px;">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<span class="d-flex">
										<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="">
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
									</span>
								</td>
								<td class="disabletd"  style="width: 170px;">
									<input type="text" class="form-control" aria-label="" value="0">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-12 px-0">		
			<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">RISK ASSESSMENT</h6>
			<div class="panel mb-2 panelContentBlock p-1">
				<div class="col-lg-12 d-flex align-items-center p-1">
					<label for="Security" class="form-label mr-2 mb-0 text-nowrap text-nowrap">Designation</label>
					<input type="text" class="form-control" aria-label="" value="" placeholder="" disabled>
					<label for="Security" class="form-label mx-2 mb-0 text-nowrap text-nowrap">Score</label>
					<input type="text" class="form-control" aria-label="" value="" placeholder="0" disabled style="width: 100px;">
				</div>
			</div>
		</div>
	</div>
</div>