<div th:fragment="RiskAssessmentOtherTab" th:remove="tag">
	<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">OTHER SECURITY CONSIDERATIONS</h6>
	<div class="row m-1"> 
		<div class="panel mb-2 panelContentBlock p-1">
			<div class="row m-1">
				<div class="col-lg-3 pr-0 d-flex align-items-center p-1">
					<div class="custom-control custom-checkbox custom-control-inline">
						<input type="checkbox" class="custom-control-input" id="EmergencyContactCheck">
						<label class="custom-control-label text-nowrap" for="EmergencyContactCheck">Offender has a Protection from Abuse (PFA) order</label> 
					</div>
				</div>
				<div class="col-lg-9 pr-0 d-flex align-items-center p-1">
					<div class="custom-control custom-checkbox custom-control-inline mr-3">
						<input type="checkbox" class="custom-control-input" id="EmergencyContactCheck">
						<label class="custom-control-label text-nowrap" for="EmergencyContactCheck">Physical/medical limitations that could affect housing placement</label> 
					</div>
					<div class="custom-control custom-checkbox custom-control-inline mr-3">
						<input type="checkbox" class="custom-control-input" id="EmergencyContactCheck">
						<label class="custom-control-label text-nowrap" for="EmergencyContactCheck">Illegal Alien Status</label> 
					</div>
					<div class="custom-control custom-checkbox custom-control-inline mr-3">
						<input type="checkbox" class="custom-control-input" id="EmergencyContactCheck">
						<label class="custom-control-label text-nowrap" for="EmergencyContactCheck">Sentenced to death</label> 
					</div>
					<span class="d-flex">				
						<div class="custom-control custom-checkbox custom-control-inline mr-3">
							<input type="checkbox" class="custom-control-input" id="EmergencyContactCheck">
							<label class="custom-control-label text-nowrap" for="EmergencyContactCheck">Bail amount of $</label> 
						</div>
						<input type="text" class="form-control w-100" aria-label="" value="">
					</span>
				</div>
				<div class="col-lg-12 d-flex align-items-center p-1 mt-1">
					<div class="custom-control custom-checkbox custom-control-inline mr-3">
						<input type="checkbox" class="custom-control-input" id="EmergencyContactCheck">
						<label class="custom-control-label text-nowrap" for="EmergencyContactCheck">Displays negative and/or uncooperative behaviour during the reception and diagnostic process</label> 
					</div>
					<div class="custom-control custom-checkbox custom-control-inline mr-3">
						<input type="checkbox" class="custom-control-input" id="EmergencyContactCheck">
						<label class="custom-control-label text-nowrap" for="EmergencyContactCheck">Notorious / high profile case</label> 
					</div>
				</div>
				<div class="col-lg-12 d-flex align-items-center px-0 mt-1">
					<textarea class="form-control mt-1" id="addComments" placeholder="Other [Specify]" rows="4" name="Comments" aria-label="Comments" style="resize:none;" value=""></textarea>
				</div>
			</div>
		</div>
		<div class="col-lg-12 px-0">		
			<h6 class="mx-0 mb-0 text-nowrap headerBlock text-center" style="font-weight: 600;">Recommendation</h6>
			<div class="panel mb-2 panelContentBlock p-1">
				<div class="col-lg-12 d-flex align-items-center p-1">
					<label for="Security" class="form-label mr-2 mb-0 text-nowrap text-nowrap">Security / Custody Level Recommendation</label>
					<input type="text" class="form-control w-100" aria-label="" value="" placeholder="">
					<span data-toggle="modal" data-target="#">
						<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="Officer Name (F, L, M, S)">
							<i class="fa fa-download" aria-hidden="true"></i>
						</a>
					</span>
					<label for="Security" class="form-label mx-2 mb-0 text-nowrap text-nowrap">Assessor (F, L, M, S)</label>
					<input type="text" class="form-control w-100" aria-label="" value="" placeholder="Matt Patterson W">
					<span data-toggle="modal" data-target="#">
						<a href="#" class="btn btn-primary btn-sm p-1 ml-2 btn js-waves-off" data-toggle="tooltip" data-placement="top" data-original-title="Officer Name (F, L, M, S)">
							<i class="fa fa-download" aria-hidden="true"></i>
						</a>
					</span>
				</div>
				<div class="mt-1">
					<textarea class="form-control mt-1" id="addComments" placeholder="Rationale for recommendation:" rows="4" name="Comments" aria-label="Comments" style="resize:none;" value=""></textarea>
				</div>
			</div>
		</div>
	</div>
</div>