<div th:fragment="Sentencetab" th:remove="tag">
	<h6 class="headerBlock text-center m-0" style="font-weight: 700;">OFFENDER CURRENT/FUTURE SENTENCE INFORMATION</h6>
	<div class="row">
		<div class="col-lg-10">
			<div class="panel panelContentBlock mb-2" style="border-top:0;">
				 <div id="table-container">
					<div class="tableFixHead d-flex">
					 	<table id="" class="table table-striped table-bordered table-sm" style="margin-bottom:0">
							<thead>
								<tr>
									<th>Current</th>
									<th>Level</th>
									<th styl="width:180px">Length (YY MM DD)</th>
									<th>Exp. Release Date</th>
									<th class="text-nowrap">Lead Sentence Type</th>
									<th style="width: 350px;">Lead Charges</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="custom-control custom-checkbox custom-control-inline" style="margin-top: 2px;">
											<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance" checked="">
											<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
										</div>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value="V">
									</td>
									<td styl="width:180px">
										<div class="d-flex align-items-center">
											<input type="text" class="form-control w-100" aria-label="" value="2">
											<input type="text" class="form-control w-100" aria-label="" value="">
											<input type="text" class="form-control w-100" aria-label="" value="">
										</div>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value="10/11/2003">
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value="STANDARD">
									</td>
									<td style="width: 350px;">
										<input type="text" class="form-control" aria-label="" value="RAPE 3RD <16">
									</td>
								</tr>
								<tr>
									<td>
										<div class="custom-control custom-checkbox custom-control-inline" style="opacity:0.5;">
											<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance">
											<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
										</div>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value=" ">
									</td>
									<td styl="width:180px">
										<div class="d-flex align-items-center">
											<input type="text" class="form-control w-100" aria-label="" value=" " disabled>
											<input type="text" class="form-control w-100" aria-label="" value="" disabled>
											<input type="text" class="form-control w-100" aria-label="" value="" disabled>
										</div>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value="" disabled>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value=" " disabled>
									</td>
									<td style="width: 350px;">
										<input type="text" class="form-control" aria-label="" value="" disabled>
									</td>
								</tr>
								<tr>
									<td>
										<div class="custom-control custom-checkbox custom-control-inline" style="opacity:0.5;">
											<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance">
											<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
										</div>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value=" ">
									</td>
									<td styl="width:180px">
										<div class="d-flex align-items-center">
											<input type="text" class="form-control w-100" aria-label="" value=" " disabled>
											<input type="text" class="form-control w-100" aria-label="" value="" disabled>
											<input type="text" class="form-control w-100" aria-label="" value="" disabled>
										</div>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value="" disabled>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value=" " disabled>
									</td>
									<td style="width: 350px;">
										<input type="text" class="form-control" aria-label="" value="" disabled>
									</td>
								</tr>
								<tr>
									<td>
										<div class="custom-control custom-checkbox custom-control-inline" style="opacity:0.5;">
											<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance">
											<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
										</div>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value=" ">
									</td>
									<td styl="width:180px">
										<div class="d-flex align-items-center">
											<input type="text" class="form-control w-100" aria-label="" value=" " disabled>
											<input type="text" class="form-control w-100" aria-label="" value="" disabled>
											<input type="text" class="form-control w-100" aria-label="" value="" disabled>
										</div>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value="" disabled>
									</td>
									<td>
										<input type="text" class="form-control" aria-label="" value=" " disabled>
									</td>
									<td style="width: 350px;">
										<input type="text" class="form-control" aria-label="" value="" disabled>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-2 pl-0">
			<div class="panel panelContentBlock mb-2 p-1">
				<div class="d-flex justify-content-end mb-2">
					<button type="button" class="btn btn-primary btn-sm" id="" >Details</button>
				</div>
				 <div id="table-container">
					<div class="tableFixHead d-flex">
					 	<table id="" class="table table-striped table-bordered table-sm" style="margin-bottom:0">
							<thead>
								<tr>
									<th>Court Condition</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input type="text" class="form-control" aria-label="" value="As To IK01-06-0645; SENTENCE">
									</td>
								</tr>
								<tr>
									<td>
										<input type="text" class="form-control" aria-label="" value="2 YEARS FOR 1 YEAR LEVEl">
									</td>
								</tr>
								<tr>
									<td>
										<input type="text" class="form-control" aria-label="" value="FOLLOWED BY 3 YEARS">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h6 class="headerBlock text-center m-0" style="font-weight: 700;">OFFENDER COMMITTED CHARGES</h6>
	<div class="row">
		<div class="col-lg-12">
			<div class="d-flex justify-content-end">
				<button type="button" class="btn btn-primary btn-sm" id="" >Details</button>
			</div>
			<div id="table-container">
				<div class="tableFixHead d-flex mb-2">
				 	<table id="" class="table table-striped table-bordered table-sm" style="margin-bottom:0">
						<thead>
							<tr>
								<th>Active</th>
								<th style="width: 450px;">Charge Description</th>
								<th>Felony</th>
								<th>Start Date</th>
								<th>Bail Amount</th>
								<th>Disposition</th>
								<th>End Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance" checked="">
										<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
									</div>
								</td>
								<td style="width: 450px;">
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<div class="custom-control custom-checkbox custom-control-inline">
										<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance">
										<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
									</div>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="">
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="">
								</td>
							</tr>
							<tr>
								<td>
									<div class="custom-control custom-checkbox custom-control-inline" style="opacity:0.5">
										<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance">
										<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
									</div>
								</td>
								<td style="width: 450px;">
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<div class="custom-control custom-checkbox custom-control-inline" style="opacity:0.5">
										<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance">
										<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
									</div>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
							</tr>
							<tr>
								<td>
									<div class="custom-control custom-checkbox custom-control-inline" style="opacity:0.5">
										<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance">
										<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
									</div>
								</td>
								<td style="width: 450px;">
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<div class="custom-control custom-checkbox custom-control-inline" style="opacity:0.5">
										<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance">
										<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
									</div>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
							</tr>
							<tr>
								<td>
									<div class="custom-control custom-checkbox custom-control-inline" style="opacity:0.5">
										<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance">
										<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
									</div>
								</td>
								<td style="width: 450px;">
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<div class="custom-control custom-checkbox custom-control-inline" style="opacity:0.5">
										<input type="checkbox" class="custom-control-input negativeCheckbox" id="MediaclGrievance">
										<label class="custom-control-label text-nowrap" for="MediaclGrievance"></label>
									</div>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
								<td>
									<input type="text" class="form-control" aria-label="" value="" disabled>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>